<!DOCTYPE html>
<html>
<!--Under Construction moving inline css to style.css-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>Contact</title>
      
 
  </head>

  <body>

 <nav style="height:50px; background-color:#64b8bd; display:flex; margin-botom:10px;">
<ul style="text-align:right; padding:0; list-style:none; flex:2; display:flex;">
    <li style="display:inline; text-align:center; flex:1;"><a href="/" style="display:inline-block; font-size:1em; text-transform:uppercase; text-decoration:none; color:black;">Home</a></li>
    <li style="display:inline; text-align:center; flex:1;"><a href="/dogAPI" style="display:inline-block; font-size:1em; text-transform:uppercase; text-decoration:none; color:black;">Find Random Dog</a></li>
    <li style="display:inline; text-align:center; flex:1;"><a href="/training" style="display:inline-block; font-size:1em; text-transform:uppercase; text-decoration:none; color:black;">Training Tips</a></li>
    <li style="display:inline; text-align:center; flex:1;"><a href="/petcare" style="display:inline-block; font-size:1em; text-transform:uppercase; text-decoration:none; color:black;">Pet Care</a></li>
    <li style="display:inline; text-align:center; flex:1;"><a href="/contact" style="display:inline-block; font-size:1em; text-transform:uppercase; text-decoration:none; color:black;">Contact</a></li>
  </ul>

    <form  id = "1" style="flex:1; display:flex; align-items:center; height:100%; padding: 0 2em;"> 
         <input type="search" name="q" placeholder="Search query">
         <input type="submit" value="Go!">
       </form>
       
  </nav>

    <h1 style="font-size:25px; margin: 20px auto; width:50%;">Contact Me:</h1>

    <ol style="width:50%; margin:20px auto; font-size: 18px;">
      <li><a href ="mail to: thaupt5542@gmail.com">Email: thaupt5542@gmail.com</a></li>
      <li><a href ="tel:631-336-0851"> Phone: 631-336-0851</a></li>
      <li>GitHub: thaupt5542</li>
    </ol>
  
  
    "<form class="formspree" action="https://formspree.io/f/xzbkabal" method="POST">
    <input style="display:block; margin:20px auto; width:50%; height:30px;" name="name" placeholder="Name..."></input>
    <input style="display:block; margin:20px auto; width:50%; height:30px;" name="email" placeholder="Email..."></input>
    <textarea style="display:block; margin:20px auto; width:50%; height:70px; resize: vertical;" name="message" placeholder="Write here if you're looking for any additional pet advice. Include any questions or concerns!"></textarea>
    <button style="display:block; margin:20px auto; width:50%; height:30px; background-color: rgb(69, 230, 96);" type="submit">Submit</button>
    </form>"
  
  <!--
   <form class="formspree" id = "2" action="https://formspree.io/f/xzbkabal" method="POST">
    <input  name="name" placeholder="Name..."></input>
    <input name="email" placeholder="Email..."></input>
    <textarea  name="message" placeholder="Write here if you're looking for any additional pet advice. Include any questions or concerns!"></textarea>
    <button type="submit">Submit</button>
  </form>
  -->

    <!--><script src="script.js"></script></!-->
  </body>

  <footer style="height:auto; background-color: #64b8bd;">
    <h1 style="text-align:center;">Made by Theresa Haupt &#128021🤍&#128057</h1>
  </footer>


</html>